{% extends "core/base.html" %}

{% block title %}Contacto - Ariana Pisco{% endblock %}

{% block header_image %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}
{% block header_title %}Contacto{% endblock %}
{% block header_subtitle %}Asesoría{% endblock %}

{% block content %}
  <p>Si tienes alguna duda sobre mis proyectos de ingeniería, estás interesado en colaborar en una investigación técnica o simplemente quieres saludar, mi buzón siempre está abierto.</p>
  <br>
  <p><b>Teléfono:</b> +098 584 4943</p>
  <p><b>Correo:</b> apisco3096@utm.edu.ec</p>
  <p><b>Dirección:</b> Portoviejo-Abdón Calderón</p>  
{% endblock %}